@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Domine:wght@700&display=swap');

body {
  //font-family: $font-family;
  font-size: 16px;
  background-color: $color-primary-background;
  height: 2000px;
}

.container {
  width: 1226px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: pointer;
}

//shared component style

.Product_option_title {
  font-size: 20px;
  color: $color-light-variant;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}
