.Product {
  background-color: white;
  padding: 25px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  position: relative;

  &-image {
    width: 200px;
    height: 200px;
    margin-bottom: 8px;
  }

  &-name {
    font-size: 14px;
    margin-bottom: 4px;
  }

  &-price {
    color: $color-primary-base;
    font-weight: 700;
    font-size: 14px;
  }

  &-link {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}
