.Header {
  border-bottom: 2px solid $color-primary-base;

  .container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    background-color: $color-primary-base;
    height: 56px;
    width: 56px;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      .Header-logo-icon {
        transform: translateX(0px);
      }
    }
    &-icon {
      height: 56px;
      width: 112px;
      transform: translateX(-56px);
      transition: transform 0.1s ease;
    }
  }
  &-learnMore {
    a {
      font-size: 14px;
      color: $color-primary-link;
    }
  }
}
